<div class="col-md-12">
  <h2 align = "center"><%= @job.title %></h2>



  <table class="table table-hover">
    <tbody>
          <tr>
            <%= simple_format(@job.description) %>
          </tr>
          <tr>
            <%= @job.wage_upper_bound %>
          </tr>
          <tr>
            <%= @job.wage_under_bound %>
          </tr>
          <tr>
            <td><%= @job.created_at %></td>
          </tr>
      </tbody>
    </table>
</div>
