<div class="col-md-12">
  <span class="pull-right">
  <% if current_user && current_user.is_follower?(@job) %>
    <label class="label label-success"> 已关注 </label>
    <%= link_to("取消关注", unfollow_job_path(@job), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> 未关注 </label>
    <%= link_to("关注", follow_job_path(@job), method: :post, class: "btn btn-default") %>
  <% end %>
</span>
  <h2 align = "center"><%= @job.title %></h2>



  <table class="table table-hover">
    <tbody>
          <tr>
            <%= simple_format(@job.description) %>
          </tr>
          <tr>
            <%= @job.wage_upper_bound %>
          </tr>
          <tr>
            <%= @job.wage_under_bound %>
          </tr>
          <tr>
            <td><%= @job.created_at %></td>
          </tr>
      </tbody>
    </table>
    <div align="center">
      <%= link_to("Add a resume", new_job_resume_path(@job), class: "btn btn-default") %>
    </div>
</div>
